In [3]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt

crimeCount = pd.read_excel("CountOfCrimes.xlsx")

In [4]:
zipcodes = crimeCount["Zipcode"]
crimeType = crimeCount["Primary Type"]
crimeFrequency = crimeCount[0]
crimeCount

    Zipcode                Primary Type   0
0   46394.0                     ASSAULT   3
1       NaN                     BATTERY  11
2       NaN                    BURGLARY   2
3       NaN             CRIMINAL DAMAGE  11
4       NaN          DECEPTIVE PRACTICE   6
5       NaN                    HOMICIDE   1
6       NaN         MOTOR VEHICLE THEFT   7
7       NaN  OFFENSE INVOLVING CHILDREN   1
8       NaN               OTHER OFFENSE   1
9       NaN                     ROBBERY   1
10      NaN                       THEFT   4
11      NaN           WEAPONS VIOLATION   3
12  60617.0                     ASSAULT  27
13      NaN                     BATTERY  60
14      NaN                    BURGLARY   7
15      NaN             CRIMINAL DAMAGE  37
16      NaN     CRIMINAL SEXUAL ASSAULT   1
17      NaN           CRIMINAL TRESPASS   5
18      NaN          DECEPTIVE PRACTICE  13
19      NaN                    HOMICIDE   1
20      NaN         MOTOR VEHICLE THEFT  21
21      NaN                   NARCOTICS   3
22      NaN  OFFENSE INVOLVING CHILDREN   2
23      NaN               OTHER OFFENSE  28
24      NaN                     ROBBERY  11
25      NaN                 SEX OFFENSE   2
26      NaN                       THEFT  58
27      NaN           WEAPONS VIOLATION   6
28  60633.0                     ASSAULT  15
29      NaN                     BATTERY  26
30      NaN                    BURGLARY   2
31      NaN             CRIMINAL DAMAGE  14
32      NaN     CRIMINAL SEXUAL ASSAULT   1
33      NaN           CRIMINAL TRESPASS   1
34      NaN          DECEPTIVE PRACTICE   7
35      NaN                  KIDNAPPING   1
36      NaN         MOTOR VEHICLE THEFT   7
37      NaN  OFFENSE INVOLVING CHILDREN   2
38      NaN               OTHER OFFENSE  11
39      NaN                     ROBBERY   1
40      NaN                       THEFT  13
41      NaN           WEAPONS VIOLATION   1

In [70]:
#x axis for bar graph:
#Robbery, Homicide, Criminal Sexual Assault, Assault, Motor Vehicle Theft, Burglary
for i in zipcodes:
    if pd.notnull(i):
        print(i)
        currRowNumber = crimeCount.index.get_loc(crimeCount[crimeCount['Zipcode'] == i].index[0])
        print(currRowNumber)
        for j in zipcodes:
            if pd.notnull(j):
                if crimeCount.index.get_loc(crimeCount[crimeCount['Zipcode'] == j].index[0]) > currRowNumber:
                    if crimeCount.index.get_loc(crimeCount[crimeCount['Zipcode'] == j].index[0]) <= currRowNumber+20:
                        nextRowNumber = crimeCount.index.get_loc(crimeCount[crimeCount['Zipcode'] == j].index[0])
                        print(nextRowNumber)
        
        for k in range(currRowNumber, nextRowNumber):
            if crimeType[k] == "ASSAULT" or crimeType[k] == "BURGLARY" or crimeType[k] == "CRIMINAL SEXUAL ASSAULT" or crimeType[k] == "HOMICIDE" or crimeType[k] == "MOTOR VEHICLE THEFT" or crimeType[k] == "ROBBERY":

46394.0
0
12
60617.0
12
28
60633.0
28

In [8]:
crimeCount.loc[46394.0 : 60617.0]

Empty DataFrame
Columns: [Zipcode, Primary Type, 0]
Index: []

In [75]:
crimeCount.columns

Index(['Zipcode', 'Primary Type', 0], dtype='object')

In [85]:
crimeCount.loc["46394":"60617"]

Empty DataFrame
Columns: [Zipcode, Primary Type, 0]
Index: []

In [86]:
list(crimeCount)

['Zipcode', 'Primary Type', 0]